.document-preview-field {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.document-preview-simplebox,
.document-preview-modal {
  position: relative;
}
.document-preview--link {
  position: absolute;
  z-index: 100;
  right: 20px;
  bottom: 20px;
}

.document-preview-modal {
  border: none !important;
  border-radius: 10px;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
}
.document-preview-modal .ui-dialog-titlebar {
  border: none;
  border-radius: 0;
  background: #fff;
}
.document-preview-modal .document-preview-modal--content {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.document-preview-modal > #drupal-modal {
  padding: 0;
}
.document-preview-modal > #drupal-modal iframe {
  border: none;
}
