{#
/**
 * @file
 * Default theme implementation for the Embedded Google Documents Viewer field formatter.
 *
 * Available variables:
 * - url: The publicly accessible url at which the embedded document may be reached.
 * - filename: The original file name of the embedded document.
 * - delta: The ordinal value of an embedded field. Useful when there is more than one
 *   document file included in the field.
 * - entity: The entity type of the entity containing the file field being formatted (e.g. node).
 * - bundle: The bundle type of the entity conating the file field (e.g. page).
 * - field_name: The machine_name of the field.
 * - field_type: The field type of the field (i.e. file).
 * - view_type: Type type of output
 *
 * @ingroup themeable
 */
#}

{% if view_type == 'simplebox' %}

  <div class="document-preview-simplebox">
    <iframe class="document-preview-field" src="https://docs.google.com/viewer?url={{ url }}&embedded=true"></iframe>
    <a href="{{ url }}" class="document-preview--link">{{ 'Download'|t }}</a>
  </div>

{% elseif view_type == 'modal' %}

  <div class="document-preview-link">
      <a href="/document_preview?url={{ url }}" class="use-ajax">{{ filename }}</a>
  </div>

{% endif %}

